In [8]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
#data = pd.read_csv('/home/jaz/Escritorio/jaz/fiuba/orga-de-datos-7506/guia1/scrubbed.csv', dtype={'duration (seconds)': int})

data = pd.read_csv('/home/jaz/Escritorio/jaz/fiuba/orga-de-datos-7506/guia1/scrubbed.csv', error_bad_lines= False)
data.tail()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778

In [10]:
data.columns.values

array(['datetime', 'city', 'state', 'country', 'shape',
       'duration (seconds)', 'duration (hours/min)', 'comments',
       'date posted', 'latitude', 'longitude '], dtype=object)

In [48]:
data = data.rename(columns={'duration (seconds)':'duration_seconds'})
data = data.rename(columns={'duration (hours/min)':'duration_time'})
data = data.rename(columns={'date posted':'date_posted'})

In [49]:
data.replace(to_replace='0.5`', value='0.5', inplace=True)
data.replace(to_replace='8`', value='8', inplace=True)
data.replace(to_replace='2`', value='2', inplace=True)

In [50]:
from pandas.api.types import is_numeric_dtype

data['duration_seconds'] = pd.to_numeric(data['duration_seconds'], errors='coerce').fillna(0)

is_numeric_dtype(data['duration_seconds'])

True

In [51]:
data.duration_seconds.idxmin()

4081

In [52]:
#El avistaje mas corto ocurrido en Marzo del 2007 ocurri√≥ en la ciudad de Denver
data.iloc[data.duration_seconds.idxmin()]

datetime                                             10/23/2008 04:45
city                                                           remote
state                                                              wy
country                                                           NaN
shape                                                           flash
duration_seconds                                                0.001
duration_time                                                0.001sec
comments            brilliant strobe light at 4am&#44 moving light...
date_posted                                                 1/10/2009
latitude                                                   -46.163992
longitude                                                     169.875
Name: 4081, dtype: object

In [53]:
data.loc[data.duration_time.str.contains('millisecond', na=False),['duration_time']]

          duration_time
19788  800 milliseconds
23754       millisecond
42378      milliseconds
56596      milliseconds
70393       millisecond

In [54]:
data.iloc[23754]

datetime                                              12/9/1999 18:15
city                                                             lyle
state                                                              wa
country                                                            us
shape                                                        fireball
duration_seconds                                                 0.01
duration_time                                             millisecond
comments            Incredible...full moon sized bright orange fir...
date_posted                                                12/16/1999
latitude                                                   45.6961111
longitude                                                    -121.285
Name: 23754, dtype: object

In [55]:
#El avistaje de mayor duraci√≥n en segundos se registro en Canad√°
data.iloc[data.duration_seconds.idxmax()]

datetime                                              10/1/1983 17:00
city                                          birmingham (uk/england)
state                                                             NaN
country                                                            gb
shape                                                          sphere
duration_seconds                                           9.7836e+07
duration_time                                                31 years
comments            Firstly&#44 I was stunned and stared at the ob...
date_posted                                                 4/12/2013
latitude                                                    52.466667
longitude                                                    -1.91667
Name: 559, dtype: object

In [56]:
#La forma mas com√∫n en los ufos registrados es circular
data.groupby('shape').size().sort_values(axis=0, ascending=False)

shape
light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
dome             1
flare            1
hexagon          1
changed          1
dtype: int64

In [72]:
#Las Vegas, NV tiene un registro que aparece en el Top10 de avistajes con mayor duraci√≥n en segundos para el mes de Marzo 2004
marzo_2004 = data.loc[data.date_posted.str.contains('3/2004', na=False),['date_posted','country','city','state','duration_seconds']]
marzo_2004.tail()

      date_posted country                  city state  duration_seconds
77583   12/3/2004      gb  chester (uk/england)   NaN             180.0
78186   6/23/2004      us             cornelius    or               5.0
78670   12/3/2004      us                 davis    ca             600.0
79553   12/3/2004      us              lakeland    fl             180.0
79932   3/23/2004     NaN                  maui    hi              20.0

In [73]:
marzo_2004.sort_values(['duration_seconds'], axis=0, ascending=False, inplace=True)
marzo_2004.head(10)

      date_posted country                  city state  duration_seconds
64116   6/23/2004      us                hollis    nh          604800.0
31319   3/23/2004      us             las vegas    nv          345600.0
30886   3/23/2004      us         rockwell city    ia           14400.0
75038   6/23/2004      us             jefferson    ia           14400.0
32704   3/23/2004      us              woodward    ok           14400.0
3114    12/3/2004      us              columbus    oh           14400.0
21445   12/3/2004     NaN  cali (colombia s.a.)   NaN           14400.0
68315   12/3/2004      us               houston    tx           10800.0
10177   12/3/2004      us                downey    ca           10800.0
52729   12/3/2004     NaN            west allis    wi           10800.0

In [74]:
#Existen 963 ufos reportados con forma de chevron
data.groupby('shape').size()['chevron']

952

In [78]:
#La forma con mayor cantidad de registros en Los Angeles, CA es la forma de triangulo
losAngeles_ca = data.loc[(data.city.str.contains('ngeles', na=False) & data.state.str.contains('ca', na=False)),['city','state','shape']]
losAngeles_ca.groupby('shape').size().sort_values(axis=0, ascending=False)

shape
light        79
circle       43
triangle     39
disk         35
fireball     34
sphere       32
unknown      31
other        26
oval         21
cigar        17
changing     15
formation    12
chevron       7
rectangle     6
flash         5
egg           5
diamond       5
teardrop      5
cone          3
cylinder      1
cross         1
dtype: int64

In [82]:
#Los avistajes en forma de bola de fuego tienen un tiempo promedio de duraci√≥n de aproximadamente el doble que el de los de forma de huevo.
durationByShape = data.groupby(['shape'])['duration_seconds'].mean()
durationByShape

shape
changed       3600.000000
changing      2079.513405
chevron        460.317174
cigar         1917.106830
circle        4767.466062
cone         82827.405063
crescent     18905.000000
cross          748.519313
cylinder      3426.512471
delta         2307.857143
diamond       1413.628625
disk          1460.431677
dome             2.000000
egg           1886.793281
fireball      4023.941484
flare           30.000000
flash         5330.289421
formation     1254.048547
hexagon        240.000000
light        13170.345373
other        20634.210977
oval          3898.586311
pyramid        120.000000
rectangle      683.183346
round          452.500000
sphere       21787.298238
teardrop       942.946000
triangle      1664.266397
unknown       5546.723104
Name: duration_seconds, dtype: float64

In [91]:
durationByShape['egg']*2 -durationByShape['fireball']

-250.35492230476484

In [92]:
durationByShape['fireball']/2- durationByShape['egg']

125.17746115238242

In [93]:
#Entre los avistajes registrados en Washington, DC, las formas mas populares son luz, esfera y bola de fuego.
washington_dc = data.loc[(data.city.str.contains('ashington', na=False) & data.state.str.contains('dc', na=False)),['city','state','shape']]
washington_dc.groupby('shape').size().sort_values(axis=0, ascending=False)

shape
light        16
sphere       13
other        10
fireball      8
cylinder      7
disk          7
triangle      6
circle        5
cigar         3
changing      3
formation     3
oval          2
egg           1
flash         1
diamond       1
rectangle     1
chevron       1
unknown       1
dtype: int64

In [90]:
durationByShape['egg']

1886.7932806324111